<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TeamInfotecs" value="http://msk-tfs-t.infotecs-nt:8080/tfs/SrvNccCollection/_packaging/team/nuget/v3/index.json" />
    <add key="Infotecs" value="http://msk-tfs-t.infotecs-nt:8080/tfs/SrvNccCollection/_packaging/infotecs/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <config>
    <add key="http_proxy" value="http://10.0.75.1:31299/" />
  </config>
</configuration>